<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd" >
  
<suite name="Suite1" verbose="1" >
  
  <test name="Regression1">
    <classes>
      <class name="org.roomsoom.com.HandleMultiWindows"/>
      <!-- <class name="practice.UseKeyboard"/> -->
      <!-- <class name="practice.MouseOver"/> -->
    </classes>
  </test>

</suite>
