<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd" >
  
<suite name="Suite1" verbose="1" parallel="classes" thread-count="5">
  
  <test name="Regression1">
    <classes>
      <class name="org.project.tests.InitiateSearchTest"/>
      <!-- <class name="org.roomsoom.com.P1_Open_URL"/>
      <class name="org.roomsoom.com.P2_GetTitle"/> -->
    </classes>
  </test>

</suite>
